@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200&display=swap');

.container {
    display: flex;
	flex-direction:column;
	justify-content: center;
    font-family: 'Sono', sans-serif;
    font-size: large;
    padding: 1rem 5rem;
}

.container__input {
    width: 0rem;
    height: 0rem;
    appearance: none;
}

.container__content {
    display: none;
    justify-content: center;
    padding-bottom: 2.5rem;
}

.label__title, .page-title {
    text-align:start; 
}

.container__label{
    display: block;
	cursor: pointer;
}

.container__label:active {
    opacity: 50%;
}

.label__header {
    display: flex;
	justify-content:space-between;
    border-top: 0.1rem solid grey;
}

.label__icon {
    padding: 1.8rem;
	width: 1.8rem;
	height: 1.8rem;	
	transition: fill 1s ease-out;
	transform: rotate(90deg);
}

.label__header:active, .label__header:hover, .label__icon:hover{
    transition: 0.1s ease-in-out;
    color: blueviolet;
    fill: blueviolet;
}

.label__header:active .label__icon {
    transform: rotate(45deg);
	fill: blueviolet;
}

 input:checked ~ .container__content {
    display: flex;
}


